<div class="tablebox">
  <table id="results_table" class="table">
    <thead>
      <th></th>
      {{#each habits}}
      <th>{{habit_title}}</th>
      {{/each}}
    </thead>
    <tbody>
      <tr>
        <td class="table-primary" name="day1" id="day1" scope="col">1</td>
        {{#each habits}}
        <td>
          <input type="checkbox" name="1" id="{{id}}" {{{isChecked id '1' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day2" id="day2" scope="col">2</td>
        {{#each habits}}
        <td>
          <input type="checkbox" name="2" id="{{id}}" {{{isChecked id '2' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day3" id="day3" scope="col">3</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '3' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day4" scope="col">4</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '4' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day5" id="day5" scope="col">5</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day6" id="day6" scope="col">6</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '6' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day7" id="day7" scope="col">7</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '7' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day8" id="day8" scope="col">8</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '8' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day9" id="day9" scope="col">9</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '9' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day10" id="day10" scope="col">10</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '10' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day11" id="day11" scope="col">11</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">12</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">13</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">14</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">15</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">16</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">17</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">18</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">19</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">20</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">21</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">22</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">23</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">24</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">25</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">26</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">28</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">29</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">30</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day5" scope="col">31</td>
        {{#each habits}}
        <td>
          <input type="checkbox" {{{isChecked id '5' ../results}}} />
        </td>
        {{/each}}
      </tr>
    </tbody>
  </table>
</div>

<script src="/javascript/homepage.js"></script>