{{!-- table --}}
<div class="tablebox">
  <table id="results_table" class="table">
    <thead>
      <th></th>
      {{#each habits}}
        <th class="Kalam-font">{{habit_title}}</th>
      {{/each}}
    </thead>
    <tbody>
      <tr>
        <td class="table-primary" name="day1" id="day1" scope="col">1</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="1" id="{{id}}" {{{isChecked id '1' ../results}}} />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary " name="day2" id="day2" scope="col">2</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="2" id="{{id}}" {{{isChecked id '2' ../results}}} />
          </td>
        {{/each}}
      </tr>
      <tr class="tablebox-row">
        <td class="table-primary " name="day3" id="day3" scope="col">3</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="3" id="{{id}}" {{{isChecked id '3' ../results}}} />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day4" id="day4" scope="col">4</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="4" id="{{id}}" {{{isChecked id '4' ../results}}} />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day5" id="day5" scope="col">5</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="5" id="{{id}}" {{{isChecked id '5' ../results}}} />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day6" id="day6" scope="col">6</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="6" id="{{id}}" {{{isChecked id '6' ../results}}} />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day7" id="day7" scope="col">7</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="7" id="{{id}}" {{{isChecked id '7' ../results}}} />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day8" id="day8" scope="col">8</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="8" id="{{id}}" {{{isChecked id '8' ../results}}} />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day9" id="day9" scope="col">9</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="9" id="{{id}}" {{{isChecked id '9' ../results}}} />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day10" id="day10" scope="col">10</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="10" id="{{id}}" {{{isChecked id '10' ../results}}} />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day11" id="day11" scope="col">11</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="11" id="{{id}}" {{{isChecked id '11' ../results}}} />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day12" id="day12" scope="col">12</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="12" id="{{id}}" {{{isChecked id '12' ../results}}} />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day13" id="day13" scope="col">13</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="13" id="{{id}}" {{{isChecked id '13' ../results}}} />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day14" id="day14" scope="col">14</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="14" id="{{id}}" {{{isChecked id '14' ../results}}} />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day15" id="day15" scope="col">15</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="15" id="{{id}}" {{{isChecked id '15' ../results}}} />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day16" id="day16" scope="col">16</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="16" id="{{id}}" {{{isChecked id '16' ../results}}} />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day17" id="day17" scope="col">17</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="17" id="{{id}}" {{{isChecked id '17' ../results}}} />
          </td>
        {{/each}}
      </tr>
       <tr>
        <td class="table-primary" name="day18" id="day18" scope="col">18</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="18" id="{{id}}" {{{isChecked id '18' ../results}}} />
          </td>
        {{/each}}
      </tr>
       <tr>
        <td class="table-primary" name="day19" id="day19" scope="col">19</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="19" id="{{id}}" {{{isChecked id '19' ../results}}} />
          </td>
        {{/each}}
      </tr>
       <tr>
        <td class="table-primary" name="day20" id="day20" scope="col">20</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="20" id="{{id}}" {{{isChecked id '20' ../results}}} />
          </td>
        {{/each}}
      </tr>
       <tr>
        <td class="table-primary" name="day21" id="day21" scope="col">21</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="21" id="{{id}}" {{{isChecked id '21' ../results}}} />
          </td>
        {{/each}}
      </tr>
       <tr>
        <td class="table-primary" name="day22" id="day22" scope="col">22</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="22" id="{{id}}" {{{isChecked id '22' ../results}}} />
          </td>
        {{/each}}
      </tr>
       <tr>
        <td class="table-primary" name="day23" id="day23" scope="col">23</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="23" id="{{id}}" {{{isChecked id '23' ../results}}} />
          </td>
        {{/each}}
      </tr>
       <tr>
        <td class="table-primary" name="day24" id="day24" scope="col">24</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="24" id="{{id}}" {{{isChecked id '24' ../results}}} />
          </td>
        {{/each}}
      </tr>
       <tr>
        <td class="table-primary" name="day25" id="day25" scope="col">25</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="25" id="{{id}}" {{{isChecked id '25' ../results}}} />
          </td>
        {{/each}}
      </tr>
       <tr>
        <td class="table-primary" name="day26" id="day26" scope="col">26</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="26" id="{{id}}" {{{isChecked id '26' ../results}}} />
          </td>
        {{/each}}
      </tr>
       <tr>
        <td class="table-primary" name="day27" id="day27" scope="col">27</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="27" id="{{id}}" {{{isChecked id '27' ../results}}} />
          </td>
        {{/each}}
      </tr>
       <tr>
        <td class="table-primary" name="day28" id="day28" scope="col">28</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="28" id="{{id}}" {{{isChecked id '28' ../results}}} />
          </td>
        {{/each}}
      </tr>
       <tr>
        <td class="table-primary" name="day29" id="day29" scope="col">29</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="29" id="{{id}}" {{{isChecked id '29' ../results}}} />
          </td>
        {{/each}}
      </tr>
       <tr>
        <td class="table-primary" name="day30" id="day30" scope="col">30</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="30" id="{{id}}" {{{isChecked id '30' ../results}}} />
          </td>
        {{/each}}
      </tr>
       <tr>
        <td class="table-primary" name="day31" id="day31" scope="col">31</td>
        {{#each habits}}
          <td>
            <input type="checkbox" name="31" id="{{id}}" {{{isChecked id '31' ../results}}} />
          </td>
        {{/each}}
      </tr>
    </tbody>
  </table>
</div>
{{!-- chart --}}
<div class="container text-center">
  <div class="row">
    <section class="chartbox col">
      <canvas id="myChart"></canvas>
    </section>
  </div>
</div>
<div>
    <button class="delete-all">
        Clear All
    </button>
</div>
<footer>
    <div class="card text-center top-layer">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title Kalam-font">Thanks for visiting the iBetter Habit tracker wesite</h5>
        <p class="card-text Kalam-font">We value your support and encourage you to be Better!</p>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
</footer>




<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/javascript/bar-chart.js"></script>
<script src="/javascript/homepage.js"></script>

